<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Undefined Curiosity</title>
  <meta name="description" content="Prototype Project">
  <meta name="author" content="Undefined Curiosity">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  <!-- Material Design Lite Library Stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  
  <!-- Material Design Lite Library Script -->
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<header>
	<h1>Welcome to Undefined Curiosity</h1>
	<h3><a href="/home/add">Add Test Note</a></h3>
</header>

<body>